---
import { getLatestLaunches } from "../services/space-x";
import CardLaunch from "../components/CardLaunch.astro";

const launches = await getLatestLaunches();

// console.log(launches, "data");
---

<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3 p-4">
  {
    launches.map(
      ({ id, links, details, flight_number: FlightNumber, success }) => (
        <CardLaunch
          id={id}
          img={links.patch.small}
          details={details}
          fligthNumber={FlightNumber}
          success={success}
        />
      )
    )
  }
</div>
